<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cm">
	<!-- 댓글 등록 -->
	<insert id="commentwrite" parameterType="commentdto">
		INSERT INTO
		QCOMMENT(CNUMBER,CBNUMBER,CWRITER,CCONTENTS,CDATE)
		VALUES(QCOMMENT_SEQ.NEXTVAL,#{cbnumber},#{cwriter},#{ccontents},SYSDATE)
	</insert>

	<!-- 댓글 등록 목록 출력 -->
	<select id="commentlist" parameterType="int"
		resultType="commentdto">
		SELECT * FROM QCOMMENT WHERE CBNUMBER=#{cbnumber}
		ORDER BY
		CNUMBER DESC
	</select>

	<!-- 댓글 삭제 -->
	<delete id="commentdelete" parameterType="commentdto">
		DELETE FROM
		QCOMMENT WHERE CNUMBER=#{cnumber}
	</delete>
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 